/*
Project Name: The 3 Series
Client: Tin Nguyen
Author: Tin Nguyen
Developer @GA in Atlanta
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.logo, .introduction, .openImage {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.flexcontainer, .header {
	display: flex;
}

.flexcontainer {
	flex-direction: column;
}


.header {
	background-color: black;
	justify-content: space-between;
	max-height: 10vh;

}
.logo {
	width: 10vw;
	height: 10vh;
	border: none;
	padding-left: 11vw;
	margin-left: 5vw;
	background-color: black;
	background-image: url(../images/bmwLogo.png);
}


.introduction {
	background-image: url(../images/intro.jpg);
}
.introduction h1 {
	color: silver;
	text-align: center;
	font-size: 20vw;
}

.introduction h2 {
	width: 80vw;
	text-align: center;
	margin: auto;
}

.openImage {
	background-image: url(../images/intro.jpg);
	width: 100vw;
	height: 40vh;
}

.e21Button, .e30Button, .e36Button, .e46Button, .e9xButton, .f3xButton {
	width: 95vw;
	margin: .5vh 2.5vw;
	font-size: 5vh;
	background-color: white;
	border: 1px solid black;
	text-align: center;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:13px 15px 0px 15px;
  color:#999;
  border:0;
  font-size: 10vw;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:100
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.e30Pic {
	background-image: url(../images/e30.png);
	width: 100vw;
	height: 40vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.e36Pic {
	background-image: url(../images/e36.png);
	height: 40vh;
	width: 95vw;
	margin: 0 2.5vw;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.e46Pic {
	background-image: url(../images/e46.png);
	height: 40vh;
	width: 95vw;
	margin: 0 2.5vw;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}